In [1]:
from datetime import datetime
from datetime import time, date

In [2]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

In [3]:
from numpy import isnan

In [4]:
import matplotlib.pyplot as plt
from matplotlib.collections import LineCollection

In [5]:
from sklearn import cluster, covariance, manifold, preprocessing

In [6]:
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

In [7]:
import os

In [8]:
import matplotlib

In [9]:
from scipy.ndimage.interpolation import shift

In [10]:
from IPython.display import display

In [11]:
pd.set_option('display.max_columns', 1000)
pd.set_option('display.max_rows', 1000)

In [13]:
Kospi200_codes = { #정지된 두 종목은 제외, 총 198종목
    '5930':'삼성전자',
    '660':'SK하이닉스',
    '5380':'현대차',
    '15760':'한국전력',
    '35420':'NAVER',
    '28260':'삼성물산',
    '5490':'POSCO',
    '55550':'신한지주',
    '32830':'삼성생명',
    '12330':'현대모비스',
    '105560':'KB금융',
    '51910':'LG화학',
    '17670':'SK텔레콤',
    '90430':'아모레퍼시픽',
    '34730':'SK',
    '96770':'SK이노베이션',
    '51900':'LG생활건강',
    '270':'기아차',
    '33780':'KT&G',
    '810':'삼성화재',
    '11170':'롯데케미칼',
    '86790':'하나금융지주',
    '3550':'LG',
    '66570':'LG전자',
    '2790':'아모레G',
    '10950':'S-Oil',
    '18260':'삼성에스디에스',
    '34220':'LG디스플레이',
    '30':'우리은행',
    '6400':'삼성SDI',
    '30200':'KT',
    '36570':'엔씨소프트',
    '23530':'롯데쇼핑',
    '21240':'코웨이',
    '10130':'고려아연',
    '35250':'강원랜드',
    '4020':'현대제철',
    '161390':'한국타이어',
    '24110':'기업은행',
    '139480':'이마트',
    '6800':'미래에셋대우',
    '47810':'한국항공우주',
    '32640':'LG유플러스',
    '9150':'삼성전기',
    '86280':'현대글로비스',
    '1040':'CJ',
    '78930':'GS',
    '88350':'한화생명',
    '27410':'BGF리테일',
    '720':'현대건설',
    '9240':'한샘',
    '4800':'효성',
    '5830':'동부화재',
    '29780':'삼성카드',
    '18880':'한온시스템',
    '97950':'CJ제일제당',
    '10140':'삼성중공업',
    '36460':'한국가스공사',
    '1800':'오리온',
    '9830':'한화케미칼',
    '7070':'GS리테일',
    '5940':'NH투자증권',
    '120':'CJ대한통운',
    '8930':'한미사이언스',
    '12750':'에스원',
    '2380':'KCC',
    '128940':'한미약품',
    '12630':'현대산업',
    '1450':'현대해상',
    '16360':'삼성증권',
    '138930':'BNK금융지주',
    '3490':'대한항공',
    '47040':'대우건설',
    '11070':'LG이노텍',
    '880':'한화',
    '47050':'포스코대우',
    '4990':'롯데제과',
    '71050':'한국금융지주',
    '210':'대림산업',
    '100':'유한양행',
    '12450':'한화테크윈',
    '51600':'한전KPS',
    '69960':'현대백화점',
    '7310':'오뚜기',
    '34020':'두산중공업',
    '11780':'금호석유',
    '28050':'삼성엔지니어링',
    '6260':'LS',
    '8770':'호텔신라',
    '8560':'메리츠종금증권',
    '204320':'만도',
    '5300':'롯데칠성',
    '30000':'제일기획',
    '4170':'신세계',
    '1740':'SK네트웍스',
    '150':'두산',
    '42670':'두산인프라코어',
    '4370':'농심',
    '6280':'녹십자',
    '10060':'OCI',
    '240':'한국타이어월드와이드',
    '10620':'현대미포조선',
    '64350':'현대로템',
    '5610':'SPC삼립',
    '161890':'한국콜마',
    '11210':'현대위아',
    '120110':'코오롱인더',
    '670':'영풍',
    '17800':'현대엘리베이',
    '3520':'영진약품',
    '5440':'현대그린푸드',
    '6650':'대한유화',
    '10120':'LS산전',
    '6120':'SK케미칼',
    '111770':'영원무역',
    '192820':'코스맥스',
    '57050':'현대홈쇼핑',
    '80':'하이트진로',
    '10780':'아이에스동서',
    '114090':'GKL',
    '14820':'동원시스템즈',
    '2350':'넥센타이어',
    '192400':'쿠쿠전자',
    '1120':'LG상사',
    '73240':'금호타이어',
    '3410':'쌍용양회',
    '103140':'풍산',
    '185750':'종근당',
    '70':'삼양홀딩스',
    '11790':'SKC',
    '105630':'한세실업',
    '1230':'동국제강',
    '69620':'대웅제약',
    '3620':'쌍용차',
    '49770':'동원F&B',
    '2620':'제일약품',
    '4000':'롯데정밀화학',
    '1430':'세아베스틸',
    '3240':'태광산업',
    '145990':'삼양사',
    '990':'동부하이텍',
    '69260':'휴켐스',
    '3000':'부광약품',
    '14680':'한솔케미칼',
    '108670':'LG하우시스',
    '52690':'한전기술',
    '3300':'한일시멘트',
    '2270':'롯데푸드',
    '640':'동아쏘시오홀딩스',
    '1680':'대상',
    '1060':'JW중외제약',
    '170900':'동아에스티',
    '115390':'락앤락',
    '20000':'한섬',
    '25540':'한국단자',
    '93050':'LF',
    '7570':'일양약품',
    '19680':'대교',
    '93370':'후성',
    '20150':'일진머티리얼즈',
    '2240':'고려제강',
    '5180':'빙그레',
    '33920':'무학',
    '9420':'한올바이오파마',
    '64960':'S&T모티브',
    '60980':'한라홀딩스',
    '3920':'남양유업',
    '3030':'세아제강',
    '5850':'에스엘',
    '7340':'동아타이어',
    '29530':'신도리코',
    '2960':'한국쉘석유',
    '4490':'세방전지',
    '1520':'동양',
    '78520':'에이블씨엔씨',
    '25860':'남해화학',
    '79430':'현대리바트',
    '36580':'팜스코',
    '8060':'대덕전자',
    '34120':'SBS',
    '9290':'광동제약',
    '3850':'보령제약',
    '8490':'서흥',
    '14830':'유니드',
    '50':'경방',
    '97230':'한진중공업',
    '104700':'한국철강',
    '4710':'한솔테크닉스',
    '1780':'알루코',
    '5740':'크라운해태홀딩스',
    '3570':'S&T중공업',
    '5090':'삼광글라스',
    '7690':'국도화학',
    '3200':'일신방직',
    '7210':'벽산',
    '140':'하이트진로홀딩스',
    '4700':'조광피혁',
    '230':'일동홀딩스',
}

# data to resampled csv data

In [14]:
Kospi200Code, names = np.array(list(Kospi200_codes.items())).T

In [15]:
def start_end_cutter(df):
    df['date'] = df['date'].map(lambda x:datetime.strptime(str(x), '%Y%m%d%H%M%S'))
        
    df['time'] =  df['date'].map(lambda x:x.time())
    df['date'] = df['date'].map(lambda x:x.date())
        
    grp_tick = list(df.groupby('date'))
    tmp = DataFrame()
    for i in range(len(grp_tick)):
        tmp=pd.concat([tmp, grp_tick[i][1][1:-1]])
            
    tmp['date']=tmp.apply(lambda r : pd.datetime.combine(r['date'],r['time']),axis=1)
    del tmp['time']
    return tmp

In [42]:
def separator(one_tick): #separate tick data as 10seconds
    one_tick=one_tick.sort_values(by="date", ascending=False)
    
    tick_range=one_tick['date'].map(pd.Timestamp.date).unique()
    tick_range=tick_range[:-1]
#     print(tick_range[len(tick_range-1)])
#     a = pd.date_range(tick_range[0], tick_range[len(tick_range-1)], freq='1H')
#     print(a)
    
    criteria_range=pd.date_range('4/19/2017 00:00:00', periods=1, freq='T')
    for i in tick_range:
        criteria_range=criteria_range.append(pd.date_range(i, periods=1440, freq='T'))
    criteria_range=criteria_range.unique()
    
    series = pd.Series(one_tick.now)
    series.index = one_tick.date
    series=series.append(pd.Series(one_tick.now[0], index=[pd.to_datetime('2017-04-19 09:00:00')]))
    series=series.append(pd.Series(one_tick.now[len(one_tick)-1], index=[pd.to_datetime('2017-05-02 15:30:00')]))
    series=series.append(pd.Series(0, index=[pd.to_datetime('2017-05-02 23:00:00')]))

    series1 = pd.Series(one_tick.volume)
    series1.index = one_tick.date
    series1=series1.append(pd.Series(0, index=[pd.to_datetime('2017-04-19 09:00:00')]))
    series1=series1.append(pd.Series(0, index=[pd.to_datetime('2017-05-02 15:30:00')]))
    series1=series1.append(pd.Series(0, index=[pd.to_datetime('2017-05-02 23:00:00')]))
    
    series = series.resample('T', closed='left', label='left').mean() #minute is represeted by T
    series1 = series1.resample('T', closed='left', label='left').sum()
    
    
#     series=series.ix[tick_range[0]:tick_range[len(tick_range)-1]]
#     series1=series1.ix[tick_range[0]:tick_range[len(tick_range)-1]]

    series=series[series.index.isin(criteria_range)]
    series1=series1[series1.index.isin(criteria_range)]

    series = series.ix[time(9):time(15, 30)]
    series1 = series1.ix[time(9):time(15, 30)]
    
    final_one_tick=DataFrame(series)
    final_one_tick['volume']=series1
    final_one_tick['code']=one_tick.code[1]
    final_one_tick=final_one_tick.sort_values(by="code")
        
    final_one_tick.volume.fillna(0, inplace=True)
#     final_one_tick.now.fillna(inplace=True, method='ffill'
    final_one_tick.fillna(inplace=True, method='ffill')
#     final_one_tick=final_one_tick.drop(pd.to_datetime('2000-01-06'))

    return final_one_tick

In [26]:
def separator2(one_tick): #separate tick data as 10seconds
    one_tick=one_tick.sort_values(ascending=False)
    
    tick_range=one_tick['date'].map(pd.Timestamp.date).unique()
#     print(tick_range[len(tick_range-1)])
#     a = pd.date_range(tick_range[0], tick_range[len(tick_range-1)], freq='1H')
#     print(a)
    
    criteria_range=pd.date_range('5/4/2017 00:00:00', periods=1, freq='T')
    for i in tick_range:
        criteria_range=criteria_range.append(pd.date_range(i, periods=1440, freq='T'))
    criteria_range=criteria_range.unique()
    
    series = pd.Series(one_tick.now)
    series.index = one_tick.date
    series=series.append(pd.Series(one_tick.now[0], index=[pd.to_datetime('2017-05-04 09:00:00')]))
    series=series.append(pd.Series(one_tick.now[len(one_tick)-1], index=[pd.to_datetime('2017-05-19 15:30:00')]))
    series=series.append(pd.Series(0, index=[pd.to_datetime('2017-05-19 23:00:00')]))

    series1 = pd.Series(one_tick.volume)
    series1.index = one_tick.date
    series1=series1.append(pd.Series(0, index=[pd.to_datetime('2017-05-04 09:00:00')]))
    series1=series1.append(pd.Series(0, index=[pd.to_datetime('2017-05-19 15:30:00')]))
    series1=series1.append(pd.Series(0, index=[pd.to_datetime('2017-05-19 23:00:00')]))
    
    series = series.resample('T', closed='left', label='left').mean() #minute is represeted by T
    series1 = series1.resample('T', closed='left', label='left').sum()
    
    
#     series=series.ix[tick_range[0]:tick_range[len(tick_range)-1]]
#     series1=series1.ix[tick_range[0]:tick_range[len(tick_range)-1]]

    series=series[series.index.isin(criteria_range)]
    series1=series1[series1.index.isin(criteria_range)]

    series = series.ix[time(9):time(15, 30)]
    series1 = series1.ix[time(9):time(15, 30)]
    
    final_one_tick=DataFrame(series)
    final_one_tick['volume']=series1
    final_one_tick['code']=one_tick.code[1]
    final_one_tick=final_one_tick.sort()
        
    final_one_tick.volume.fillna(0, inplace=True)
#     final_one_tick.now.fillna(inplace=True, method='ffill'
    final_one_tick.fillna(inplace=True, method='ffill')
#     final_one_tick=final_one_tick.drop(pd.to_datetime('2000-01-06'))

    return final_one_tick

In [1]:
total_data1T = pd.DataFrame(columns=['code', 'date', 'now', 'volume'])

for root, dirs, files in os.walk('../../Stock_data/Kospi200_tick/2017-05-05/'):
    for file in files:
        result = pd.read_table('../../Stock_data/Kospi200_tick/2017-05-05/%s'%(file), sep='\s')
        result = start_end_cutter(result)
        result = separator(result)
        total_data1T=pd.concat([total_data1T, result], axis=0)
        
for root, dirs, files in os.walk('../../Stock_data/Kospi200_tick/2017-05-19/'):
    for file in files:
        result = pd.read_table('../../Stock_data/Kospi200_tick/2017-05-19/%s'%(file), sep='\s')
        result = start_end_cutter(result)
        result = separator(result)
        total_data1T=pd.concat([total_data1T, result], axis=0)

In [44]:
total = total_data1T
total = total.reset_index()

In [45]:
total['date'] = total['index']
total['now'] = total[0]

In [46]:
del total['index']
del total[0]

In [70]:
total.to_csv('Data/total_data1T.csv', header=True, index=False, sep=' ', mode='w')

# read resampled csv data

In [173]:
total = pd.read_csv('../../Stock_data/Kospi200_tick/resampled/total_data1T.csv', sep=' ')
total.head()

     code                 date       now  volume
0  4370.0  2017-04-19 09:00:00  321500.0    10.0
1  4370.0  2017-04-19 09:01:00  321500.0    11.0
2  4370.0  2017-04-19 09:02:00  321500.0   109.0
3  4370.0  2017-04-19 09:03:00  321500.0   189.0
4  4370.0  2017-04-19 09:04:00  321500.0     1.0

In [373]:
#more beautiful 
total['code'] = total['code'].astype(int)
total['volume'] = total['volume'].astype(float)
total['now'] = total['now'].astype(float)

In [374]:
total.head()

   code                 date       now  volume    variation
0  4370  2017-04-19 09:00:00  321500.0    10.0     0.000000
1  4370  2017-04-19 09:01:00  321500.0    11.0     0.000000
2  4370  2017-04-19 09:02:00  321500.0   109.0     0.000000
3  4370  2017-04-19 09:03:00  321500.0   189.0     0.000000
4  4370  2017-04-19 09:04:00  321500.0     1.0  1470.588235

In [375]:
total['variation'] = np.array(total['now'].shift(-1)) - np.array(total['now'])

In [2]:
dic= dict(list(total.groupby('code')))

In [378]:
length = len(dic[key])

In [379]:
variation = np.array([])
variation.shape = (0, length)
names2 = []
for a in dic.keys():
    b = dic[a]
    names2.append(Kospi200_codes[str(a)])
    b = b.to_records(index=False, convert_datetime64=True)
    b.sort()
    if len(b) != length:
        continue
    tmp = np.array([b.variation])
    variation = np.concatenate([variation, tmp])
names2 = np.array(names2)

C:\Users\KyeoRae\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: The 'convert_datetime64' parameter is deprecated and will be removed in a future version
  import sys

In [540]:
where_are_NaNs = isnan(variation)
variation[where_are_NaNs] = 0
variation=variation.astype('float64')

In [524]:
edge_model = covariance.GraphLassoCV(alphas=[1, 2], max_iter=1000)

C:\Users\KyeoRae\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:66: DeprecationWarning: Class GraphLassoCV is deprecated; The 'GraphLassoCV' was renamed to 'GraphicalLassoCV' in version 0.20 and will be removed in 0.22.
  warnings.warn(msg, category=DeprecationWarning)

In [541]:
X = variation.copy().T

In [542]:
X /= X.std(axis=0)

In [543]:
X = np.round(X, 2)

In [544]:
# X[X==0]=0.01

In [545]:
# from sklearn import preprocessing
# myScaler = preprocessing.StandardScaler()
# X = myScaler.fit_transform(X)
# emp_cov = covariance.empirical_covariance(X)
# shrunk_cov = covariance.shrunk_covariance(emp_cov, shrinkage=0.8) # Set shrinkage closer to 1 for poorly-conditioned data

# alphaRange = 10.0 ** np.arange(-8,0) # 1e-7 to 1e-1 by order of magnitude
# for alpha in alphaRange:
#     try: 
#         graphCov = covariance.graph_lasso(shrunk_cov, alpha)
#         print("Calculated graph-lasso covariance matrix for alpha=%s"%alpha)
#     except FloatingPointError:
#         print("Failed at alpha=%s"%alpha)

In [546]:
edge_model.fit(X)

C:\Users\KyeoRae\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)

GraphLassoCV(alphas=[1, 2], assume_centered=False, cv='warn', enet_tol=0.0001,
             max_iter=1000, mode='cd', n_jobs=None, n_refinements=4, tol=0.0001,
             verbose=False)

In [534]:
_, labels = cluster.affinity_propagation(edge_model.covariance_)

C:\Users\KyeoRae\Anaconda3\lib\site-packages\sklearn\cluster\affinity_propagation_.py:125: UserWarning: All samples have mutually equal similarities. Returning arbitrary cluster center(s).
  warnings.warn("All samples have mutually equal similarities. "

In [535]:
n_labels = labels.max()

In [547]:
# for i in range(n_labels + 1):
#     tmp = []
#     for ix, label in enumerate(labels):
#         if label == i:
#             tmp.append(ix)
#     tmp2 = []
#     for ix in tmp:
#         tmp2.append(names2[ix])
#     print('cluster {}: {}'.format(i + 1, ', '.join(tmp2)))

In [105]:
for i in range(n_labels + 1):
    print('cluster %i:%s'%((i+1), ', '.join(names2[labels==i])))

cluster 1:우리은행, 신한지주
cluster 2:경방, 남양유업, 롯데정밀화학, 삼성전기, 에스원
cluster 3:삼양홀딩스, 현대그린푸드, 코웨이, 신도리코
cluster 4:유한양행, 한일시멘트, 삼광글라스, SK텔레콤
cluster 5:두산, 영진약품, 한솔케미칼, 풍산
cluster 6:일동홀딩스, LS산전, 한국전력, 기업은행
cluster 7:삼성화재, 현대위아, 현대모비스, 현대리바트
cluster 8:세아베스틸, 동양, 신세계, 삼성증권, 강원랜드
cluster 9:대상, 대한항공, 벽산, 대웅제약, SK이노베이션, 코오롱인더
cluster 10:오리온, 효성, 대덕전자, 현대미포조선, 삼성물산, 한국콜마
cluster 11:넥센타이어, 농심, LS, 일양약품, 후성, 종근당
cluster 12:KCC, 아모레G, 삼양사
cluster 13:JW중외제약, 한국쉘석유, 세방전지, 동부화재, 서흥, 팜스코
cluster 14:부광약품, 삼성중공업, 무학
cluster 15:일신방직, 롯데제과, 롯데칠성, NAVER, LG생활건강, 한전기술, 현대글로비스
cluster 16:동아쏘시오홀딩스, 제일약품, 태광산업, NH투자증권, 한전KPS, S&T모티브, 락앤락, 이마트
cluster 17:S&T중공업, 제일기획
cluster 18:조광피혁, 삼성엔지니어링
cluster 19:한솔테크닉스, 크라운해태홀딩스, 녹십자, 코스맥스
cluster 20:SPC삼립, 삼성전자, 오뚜기, 휴켐스
cluster 21:한국타이어월드와이드, 세아제강, 동아타이어, 한올바이오파마, 일진머티리얼즈, 하나금융지주, LG하우시스, BNK금융지주
cluster 22:영풍, CJ, 삼성SDI, 한샘, 광동제약, SKC, LG유플러스, CJ제일제당, 한국타이어
cluster 23:하이트진로, SK하이닉스, LG, SK케미칼, 고려아연
cluster 24:한화, 롯데케미칼
cluster 25:LG상사, GS리테일, 동원시스템즈, 한국항공우주, LF
cluster 26:현대차, 금호석유, 현대엘리베이, 한섬, 삼성카드
cluster 27:기아차, 동국제강, SK네트웍스, 삼성에스디에스, 대교, 한세실업
cluster 28:보령제약, 롯데쇼핑, 남해화학, 영원무역
cluster 29:동부하이텍, 국도화학, S-Oil, 현대산업, BGF리테일, 대우건설, LG전자
cluster 30:메리츠종금증권, 삼성생명
cluster 31:알루코, KT&G, 두산중공업, LG디스플레이, KB금융
cluster 32:고려제강, 롯데푸드, 현대제철, 호텔신라, 한국가스공사
cluster 33:대림산업, 현대건설, 포스코대우, 쿠쿠전자
cluster 34:에스엘, 대한유화, 동원F&B, 한화생명
cluster 35:현대해상, 한라홀딩스, GS
cluster 36:빙그레, 미래에셋대우, 한온시스템, 현대홈쇼핑, 한국금융지주
cluster 37:하이트진로홀딩스, 한화케미칼, SBS, 엔씨소프트, 금호타이어
cluster 38:아이에스동서, 현대로템, 현대백화점, 에이블씨엔씨
cluster 39:쌍용차, OCI, LG화학, 한진중공업
cluster 40:KT, 아모레퍼시픽, 한국철강
cluster 41:CJ대한통운, 한화테크윈, SK, GKL
cluster 42:한미사이언스, LG이노텍, 유니드, 두산인프라코어, 동아에스티
cluster 43:쌍용양회, POSCO, 한국단자, 한미약품, 만도

In [69]:
node_position_model = manifold.LocallyLinearEmbedding(
    n_components=2, eigen_solver='dense', n_neighbors=5)

embedding = node_position_model.fit_transform(X.T).T

In [3]:
plt.figure(1, facecolor='w', figsize=(20, 10))
plt.clf()
ax = plt.axes([0., 0., 1., 1.])
plt.axis('off')

# Display a graph of the partial correlations
partial_correlations = edge_model.precision_.copy()
d = 1 / np.sqrt(np.diag(partial_correlations))
partial_correlations *= d
partial_correlations *= d[:, np.newaxis]
non_zero = (np.abs(np.triu(partial_correlations, k=1)) > 0.02)

# Plot the nodes using the coordinates of our embedding
plt.scatter(embedding[0], embedding[1], s=100 * d ** 2, c=labels,
            cmap=plt.cm.Spectral)

# Plot the edges
start_idx, end_idx = np.where(non_zero)
#a sequence of (*line0*, *line1*, *line2*), where::
#            linen = (x0, y0), (x1, y1), ... (xm, ym)
segments = [[embedding[:, start], embedding[:, stop]]
            for start, stop in zip(start_idx, end_idx)]
values = np.abs(partial_correlations[non_zero])

lc = LineCollection(segments,
                    zorder=0, cmap=plt.cm.hot_r,
                    norm=plt.Normalize(0, .7 * values.max()))
lc.set_array(values)
lc.set_linewidths(15 * values)
ax.add_collection(lc)

# Add a label to each node. The challenge here is that we want to
# position the labels to avoid overlap with other labels
for index, (name, label, (x, y)) in enumerate(
        zip(names, labels, embedding.T)):

    dx = x - embedding[0]
    dx[index] = 1
    dy = y - embedding[1]
    dy[index] = 1
    this_dx = dx[np.argmin(np.abs(dy))]
    this_dy = dy[np.argmin(np.abs(dx))]
    if this_dx > 0:
        horizontalalignment = 'left'
        x = x + .002
    else:
        horizontalalignment = 'right'
        x = x - .002
    if this_dy > 0:
        verticalalignment = 'bottom'
        y = y + .002
    else:
        verticalalignment = 'top'
        y = y - .002
    plt.text(x, y, name, size=20, #글자 크기
             horizontalalignment=horizontalalignment,
             verticalalignment=verticalalignment,
             bbox=dict(facecolor='w',
                       edgecolor=plt.cm.Spectral(label / float(n_labels)),
                       alpha=.6))

plt.xlim(embedding[0].min() - .15 * embedding[0].ptp(),
         embedding[0].max() + .10 * embedding[0].ptp(),)
plt.ylim(embedding[1].min() - .03 * embedding[1].ptp(),
         embedding[1].max() + .03 * embedding[1].ptp())

plt.show()